body{
	background-color: #f5f5f0;
}
h2{
	color: navy;
	padding-right:5px;
}
.inputProp {
    width: 100%;
    padding: 10px 10px;
	margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
}
span#req,span#help{
	color: red;
}
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align:center;
}
input[type=submit]:hover {
    background-color: #ff6666;
}
div{
	padding: 10px;
}